---
layout: archive
title: "Selected Projects"
permalink: /projects/
author_profile: true
---

<style>
  .projects-container { display: flex; }
  .projects-main { flex: 3; }
  .projects-toc { flex: 1; margin-left: 2em; }
  .collapsible { cursor: pointer; font-weight: bold; margin-top: 1em; }
  .content { display: none; margin-top: 0.5em; }
</style>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.collapsible').forEach(function(btn) {
      btn.addEventListener('click', function() {
        var content = btn.nextElementSibling;
        content.style.display = content.style.display === "block" ? "none" : "block";
      });
    });
  });
</script>

<div class="projects-container">
  <div class="projects-main">
    <div id="robotics">
      <div class="collapsible">Robotics Projects</div>
      <div class="content">
       {% include robo_ms.html %}
      </div>
    </div>
    <div id="cs">
      <div class="collapsible">Computer Science Projects</div>
      <div class="content">
        {% include cs_ms.html %}
      </div>
    </div>
    <div id="mech">
      <div class="collapsible">Mechanical Design and Mechanics Projects</div>
      <div class="content">
        {% include me_bach.html %}
      </div>
    </div>
  </div>
  <div class="projects-toc">
    <h3>Contents</h3>
    <ul>
      <li><a href="#robotics" style="color: #339CFF;">Robotics Projects</a></li>
      <li><a href="#cs" style="color: #339CFF;">Computer Science Projects</a></li>
      <li><a href="#mech" style="color: #339CFF;">Mechanical Design and Mechanics Projects</a></li>
    </ul>
  </div>
</div>