---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->

<div style="display: flex; align-items: stretch; margin-bottom: 2em;">
  <!-- Left: Logo -->
  <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
    <img src="../images/gnnclothfolding.jpg" alt="GNN Cloth Folding" style="max-width: 80%; max-height: 120px; border-radius: 10px; background: #fff; padding: 8px;">
  </div>
  <!-- Middle: Company Info -->
  <div style="flex: 3; display: flex; flex-direction: column; justify-content: center;">
    <span style="font-size: 1.2em; font-weight: bold;">Learning a General Model: Folding Clothing with Topological Dynamics</span>
    <span style="font-size: 0.9em; margin-top: 0.2em;">Yiming Liu, Lijun Han, <u>Enlin Gu</u>, Hesheng Wang</span>
    <span style="font-size: 0.9em; margin-top: 0.2em;">    <em>arxiv preprint</em> [<a href="https://arxiv.org/pdf/2504.20720" style="color: #339CFF; text-decoration: underline; font-size: 0.95em;">pdf</a>]
    </span>
  </div>
</div>
<!-- Description and Links below -->
<div style="margin-left: 0%; margin-bottom: 1em;">
  <div style="font-size: 1em;">
    <li>Developed a clothing folding workflow for multi-layered clothing like jackets using topological skeleton;</li>
    <li>Used <strong>semantic augmentation</strong> to analyze self-occlusion and decompose clothing structure;</li>
    <li>Used <strong>keypoint detection</strong> to generate a novel topological skeleton to represent the clothing state;</li>
    <li>Deployed an improved <strong>Graph Neural Network</strong> (GNN) to  predict the deformation of clothing for control;</li>
  </div>
</div>

<div style="display: flex; align-items: stretch; margin-bottom: 2em;">
  <!-- Left: Logo -->
  <div style="flex: 1; display: flex; align-items: center; justify-content: center;">
    <img src="../images/lightweight.png" alt="lightweight" style="max-width: 80%; max-height: 120px; border-radius: 10px; background: #fff; padding: 8px;">
  </div>
  <!-- Middle: Company Info -->
  <div style="flex: 3; display: flex; flex-direction: column; justify-content: center;">
    <span style="font-size: 1.2em; font-weight: bold;">Lightweight and Powerful Vacuum-Driven Gripper With Bioinspired Elastic Spine</span>
    <span style="font-size: 0.9em; margin-top: 0.2em;">Yongzhou Long, Zhuang Zhang, Zhuowei Xu, <u>Enlin Gu</u>, Qiujie Lu, Hao Wang, Genliang Chen</span>
    <em>IEEE Robotics and Automation Letters, 2023.</em> [<a href="https://ieeexplore.ieee.org/document/10287554" style="color: #339CFF; text-decoration: underline; font-size: 0.95em;">pdf</a>]
    <span style="font-size: 0.9em; margin-top: 0.2em;"></span> 
  </div>
</div>
<!-- Description and Links below -->
<div style="margin-left: 0%; margin-bottom: 1em;">
  <div style="font-size: 1em;">
    <li>Developed a <strong>durable, rapid, and powerful</strong> vacuum-driven soft gripper inspired by elastic spine;</li>
    <li>The designed gripper has a maximum grasping force <strong></strong>over 50N</strong> and endures <strong>10000+ cycles</strong>;</li>
    <li>Carrying out <strong>quasi-static analysis</strong> to predict the bending behavior with high model accuracy;</li>
  </div>
</div>